
/* css for search bar*/
@media (min-width:1200px){

    .row.searchbar{
        background: #e11836;
        margin: 0 -35px !important;
        height: 58px;
        margin-top: -20px !important;
        line-height: 58px;
    }
    .search-text{
        width: 480px;
        border-radius: 30px !important;
        border: 1px solid #8d8d8d;
        height: 36px;
        padding: 10px 12px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.67);
        box-shadow: none;
        margin: 10px auto 0 auto;
        display: block;
        float: none;
        position: relative;
        z-index: 1;
        padding-left: 50px;
    }
    .searchgroup{
        margin: 0 auto 0 auto;
    }
    .search{
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        width: auto;
        color: #7f7f7f;
        font-size: 15px;
        position: absolute;
        z-index: 9;
        top: 12px;
        left: 2px;
    }
    .search:focus{
        outline: 0;
    }


    /* csss for main-content*/
    .main-content{
        padding:35px 0;
    }

    .buttonsspaces{
        display: block;
        margin: 0 auto 20px auto;
        float: none;
        text-align: center;
    }
    .buttonsspaces .btn {
margin: 0 10px;
background-color: #dfdfdf;
border-color: #cdcdcd;
color:#333333;
border-radius: 20px;
font-size: 14px;
padding: 4px 20px;

    }
    .buttonsspaces .btn:hover{
        background-color: #e11836;
        border-color: #929292;
        color:#fff;
    }
    .buttonsspaces .btn:focus{
        outline: 0;
    }
    .buttonsspaces .btn.active{
        background-color: #e11836;
        border-color: #929292;
        color:#fff;
    }
    .countdb{
        padding-left: 12px;
    }
    .bg-light{
        padding: 0 40px;
    }

   .login_guest{
    position: absolute;
    right: -170px;
    top: -145px;
    z-index: 2;
    border: 1px solid #fff;
    background-color: #e11836;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;

   }
   .login_guest>a,
   .login_guest>a:hover{
       color: #fff;
       text-decoration: none;

   }
   

    .card_body{
        width: 21%;
        height: 200px;
        margin: 35px 2% 0 2%;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
        background-color: #fff;
        border-radius: 3px;
        padding: 20px;
        position: relative;
    }
    .img_app img{
        width: 70px;
        height: 70px;
        display: block;
        margin: 0 auto;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%)
    }
    .card_content{
        display: none;
    }

    .card-title{
        display: block !important;
    }
    .card_body:hover{
        box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.42);
    }
    .card_body:hover .card_content{
        display: block;
        border-radius: 3px;
        background-color: rgb(225, 25, 55);
        width: 100%;
        height: 100%;
        position: absolute;
        margin: -20px;
        padding:40px 20px 20px 20px;
        text-align: center;

    }
    .card-title{
 font-size: 17px;
 font-weight: 600;
 color:#fff;
 margin:10px;letter-spacing: 1px;
    }


    .card_body:hover .card_display{
        display: none;
    }

    .card_display{
        position: relative;
        text-align: center;
        bottom: -120px;
        color: #333333;
        letter-spacing: 1px;
    }
    .card_title_vis{
        color: #333333;
        font-size: 16px;
    }
    .card-text{
        font-size: 14px;
        float: none;
        letter-spacing: 1px;
        font-weight: 400;
        color:#fff;
        margin:10px;
    }

      
/* details view*/


.card_body{
    width: 21%;
    height: 200px;
    margin: 35px 2% 0 2%;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    border-radius: 3px;
    padding: 20px;
    position: relative;
}
.card_content{
    display: none;
}



 .card_body:hover{
    box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.42);
}
 .card_body:hover .card_content{
    display: block;
    border-radius: 3px;
    background-color: rgb(225, 25, 55);
    width: 100%;
    height: 100%;
    position: absolute;
    margin: -20px;
    padding:40px 20px 20px 20px;
    text-align: center;

}
.card-title{
font-size: 17px;
font-weight: 600;
color:#fff;
margin:10px;letter-spacing: 1px;
}
.card-text{
    font-size: 14px;
    float: none;
    letter-spacing: 1px;
    font-weight: 400;
    color:#fff;
    margin:10px;
}
.img_app img{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.img_app .card-title{
    font-size: 17px;
    font-weight: 600;
    color: #000;
    margin: 10px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 18px;
    width: 73%;
    text-align: center;
}

/* details view*/


/* list  view*/


.style2 .card_body{
width: 100%;
height: auto;
margin: 1px 4% -2px 2%;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-shadow: none;
background-color: transparent;
border-radius: 0;
padding: 20px;
position: relative;
}
.style2 .card_block:after{
content:'';
display: block;
clear:both;
}
.style2 .img_app{
    float: left;
    width: 75px;
    height: 75px;
    background-color: #fff;
    
    padding: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0px 0px 13px rgba(128, 128, 128, 0.38);
}
.style2 .card_content{
    float:right;
width:calc(100% - 150px);
display: block;    
height: 85px;
text-align: left; 
left: -47px;
position: relative;
}
.style2 .img_app img{
   width:  70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.arrow{
    height: auto;
    float: right;
    position: relative;
    top: -38px;
}
.arrow i{
    font-size: 18px;
    -webkit-transition:  2s; /* Safari */
    transition:  2s;
    color: #e11836;
}
.style2 .card_body:hover .arrow i{
    padding-left:10px;
   
    animation: slide1 1s ease-in-out infinite;
    margin-left: 10px;
   
}
@keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }
  
.style2  .card_body:hover{
    box-shadow:none;
}
.style2  .card_body:hover .card_content{
    float: right;
    width: calc(100% - 150px);
    display: block;
    text-align: left;
   
    border-radius: 0px;
    background-color: transparent;
  
    height: 100%;
    position: relative;
    margin:0px;
    padding:0px;
   

}

.style2 .card-title{
font-size: 20px;
font-weight: 600;
color:#333;
margin:0 10px 12px 10px;letter-spacing: .5px;
}
.style2 .card-text{
    font-size: 14px;
    float: none;
    letter-spacing: .5px;
    font-weight: 400;
    color:#333;
    margin:10px;
}

.listtype{
    font-size: 18px;
    position: absolute;
    right: 70px;
    top: 95px;
}
.listtype>button,
.listtype>button:active,
.listtype>button:focus {
    border: 1px solid transparent;
    background-color: transparent;
}
.btn.btn-white{
    padding: 0;
}
.btn.btn-white i{
    font-size: 22px;
    padding: 1px 4px;
}
.btn.btn-white.active{
    background-color: transparent;
    box-shadow: none;
    color: #e11836;
}

.btn.btn-white.active:focus,.btn.btn-white.active:hover,
.btn.btn-white.active:active{
    outline: 0;
}
}





