<div class="row searchbar">
    <div class="col-lg-12">
        <div class="input-group searchgroup">
            <input type="text" #query (keyup)="filter(query.value)" 
            class="form-control search-text" 
            placeholder="Search product by name or Keywords..." 
            id="query" name="search" value="" />

            <button type="submit" class="btn search">
                <span class="glyphicon glyphicon-search"></span>
            </button>


        </div>
    </div>
</div>
<div class="container">
    <div class="main-content">
        <div class="row">
           
            <!-- *ngFor="let filter of availableFilters" -->
            <div class="col-md-9 buttonsspaces">

                <div *ngIf="!authService.isLoggedIn()" class="login_guest">
                    <a [routerLink]="['/login']">Login</a>
                </div>

                <button class="btn btn-danger" 
                [class.active]="filterBy==='dashboard'" 
                (click)="filterBy('dashboard')" 
                id="dashboard">
                    Dashboard <span class="countdb">(8)</span>
                </button>
                <button class="btn btn-default" [class.active]="filterBy==='Latest'" (click)="filterBy('Latest')" id="added">
                    Latest Additions <span class="countdb">(6)</span>
                </button>
                <button class="btn btn-default" [class.active]="filterBy==='visited'" (click)="filterBy('visited')" id="Visited">
                    Recently visited <span class="countdb">(6)</span>
                </button>

                <button class="btn btn-default" [class.active]="filterBy==='all'" (click)="filterBy('all')" id="All">
                    All <span class="countdb">(6)</span>
                </button>

            </div>


            <!-- List and Grid view -->

            <div class="listtype">
                    <button (click)="isClass1Visible = !isClass1Visible;"> 
                        <i class="fa fa-th" aria-hidden="true"></i>
                    </button> 
                    <button (click)="isClass2Visible = !isClass2Visible;">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                    </button> 
            </div>



            
        </div>
        <div [ngClass]="{'style1': isClass1Visible, 'style2': isClass2Visible}">
        <div class="">
            <div class="col-lg-12 col-md-12">

                <div class="bg-light" id="" (click)="navigatetodemopage()">

                    <div *ngFor="let item of filteredproducts" class="text-center">

                        <a [routerLink]="['/demo', item.id]">
                            <div class="col-md-3 border card_body ">
                                <div class="card_block">

                                    <div class="img_app">
                                        <img [src]="item.logo.value" 
                                        class="img-responsive">
                                    </div>

                                    <div class="card_content">
                                        <!-- <a [routerLink]="['/demo', item.id]"> -->
                                        <h5 class="card-title">{{item.name}}</h5>
                                        <!-- </a> -->
                                        <p class="card-text"> {{item.description}}</p> 

                                    </div>

                                    <!-- <div class="card_display">
                                        <h5 class="card_title_vis">{{ item.name }}</h5>
                                    </div> -->
                                    <!-- <b>
                                            <u>Connect IT</u> -->
                                </div>

                            </div>

                        </a>
                        <!-- </b> -->

                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        </div>
    </div>

</div>