<div class="container">


<div class="row  bg-light">
    <a [routerLink]="['/edit']" class="back_btn">
        <i class="fa fa-angle-left" aria-hidden="true"></i>  Back to catalog</a>
</div>


<!-- details page block-->
<div class="detailsblock">
<div class="row bg-light">
        <!-- *ngFor="let item of products" -->
    <div class="col-md-5 card-image">
        <!-- Your first column here -->
       

            <div class="col-md-12 cardborder ">
                
                <img [src]="products.logo.value" class="img-responsive">
            
                <h3 class="heading">{{products.name}}</h3>
            </div>
       
    </div>
    <div class="col-md-7  card-text">  
        <!-- Your second column here -->

        <h3 class="heading">{{products.name}}</h3>
        <h5 class="subheading">Industry Type : {{products.business}} </h5>
        <p class="app_desc"> {{products.description}}</p>
        <div class="clearfix"></div>
        <a  [routerLink]="['/presentation']" class="ppt"> <button type="button" class="btn btn-default playpresentation">
          <i class="fa fa-play-circle fa-1x"></i> 
        
         Play Presentation
        </button></a>
        <button type="button" class="btn btn-danger launchdemo">
            <a class="demo_url" target="_blank" href="www.cgi.com">Launch Demo</a>
        </button>
    </div>
</div>
</div>
 <!-- details page block-->


 <!-- details page explore more product-->
 <div class="exploremoreitem">
<div class="row">
   
    <div class="col-md-12">
        <h4 class="heading">Explore More Products</h4>
    </div>
</div>
    <div class="row ">
        <div class="col-lg-12">
            <br>
            <br>
            <div class="d-flex bg-light" id="flexbox">

                <div class="col-md-2 border ">
                    <br>
                    <i class="fa fa-image fa-3x"></i>

                </div>

                <div class="col-md-2 border  ">

                    <br>
                    <i class="fa fa-image fa-3x"></i>
                </div>
                <div class="col-md-2 border ">
                    <br>
                    <i class="fa fa-image fa-3x"></i>

                </div>
                <div class="col-md-2 border ">
                    <br>
                    <i class="fa fa-image fa-3x"></i>
                </div>
            </div>
        </div>
    </div>

</div>
 <!-- details page explore more product-->

</div>